@font-face {
  font-family: "iconfont"; /* Project id 3558576 */
  src: url('iconfont.woff2?t=1659280791732') format('woff2'),
       url('iconfont.woff?t=1659280791732') format('woff'),
       url('iconfont.ttf?t=1659280791732') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jishufuwu:before {
  content: "\ebce";
}

.icon-dizhi:before {
  content: "\e653";
}

.icon-gongzuojingli:before {
  content: "\e613";
}

.icon-jiaoyujingli:before {
  content: "\e61f";
}

.icon-youxiang:before {
  content: "\e64d";
}

.icon-wangzhan:before {
  content: "\e628";
}

.icon-jiaoyu:before {
  content: "\e603";
}

.icon-pingjia:before {
  content: "\e641";
}

.icon-24gl-phoneLoudspeaker:before {
  content: "\e94f";
}

.icon-zhucewangzhan:before {
  content: "\e611";
}

.icon-skill:before {
  content: "\e602";
}

.icon-gongzuo:before {
  content: "\e656";
}

.icon-ziyuan53:before {
  content: "\e605";
}

.icon-xiangmujingli-02:before {
  content: "\e6d3";
}

.icon-qq:before {
  content: "\e600";
}

.icon-huidaodingbu:before {
  content: "\e601";
}

.icon-countdown:before {
  content: "\e708";
}

.icon-notice:before {
  content: "\e70a";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-xiangshangjiantou:before {
  content: "\e65d";
}

.icon-xiangxiajiantou:before {
  content: "\e65e";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-weixin:before {
  content: "\e609";
}

.icon-heart:before {
  content: "\e610";
}

.icon-facebook:before {
  content: "\e66e";
}

.icon-user:before {
  content: "\e7ae";
}

.icon-tuite:before {
  content: "\e652";
}

.icon-Notvisible:before {
  content: "\e75a";
}

.icon-set:before {
  content: "\e76c";
}

.icon-youtube:before {
  content: "\ea07";
}

.icon-discount:before {
  content: "\e66d";
}

.icon-menu:before {
  content: "\e677";
}

.icon-chongwutubiao18:before {
  content: "\e604";
}

